<template>
  <span class="spaced">
    <button @click="changeNode" class="button is-dark">
      {{ name }}
    </button>
  </span>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        required: true
      },
      target: {
        type: [String, Number],
        required: true
      }
    },
    methods: {
      changeNode() {
        this.$emit('changeNode', this.target);
      }
    }
  }
</script>

<style scoped>
  .spaced {
    margin: 500px 10px;
  }
</style>