<template>
  <div>
    <li>
      <a href="#" @click="navigateBack">{{ name }}</a>
    </li>
  </div>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        required: true
      },
      id: {
        type: [String, Number],
        required: true
      }
    },
    methods: {
      navigateBack() {
        this.$emit('navigateBack', this.id);
      }
    }
  }
</script>

<style scoped>
  a {
    color: #4a4a4a;
  }
</style>