<template>
  <div class="main columns">
    <div class="column is-offset-3 is-6 section">
      <transition name="fade" mode="out-in">
        <message-component
          v-bind:message="node.message"
          :key="animate"
          class="fast-animation"
        />
      </transition>
    </div>
    <div class="questions">
      <transition name="fade">
        <div 
          v-if="node.options.length"
          class="column is-offset-3 is-6 section"
        >
        <transition name="fade" mode="out-in">
          <span
            :key="animate"
            class="fast-animation"
          >
            <button-component
              v-for="option in node.options"
              v-bind="option"
              :key="option.id"
              v-on:changeNode="updateNode($event)"
            />
          </span>
        </transition>
        </div>
      </transition>
    </div>
    <transition name="fade">
      <div v-if="pastNodes.length" class="column is-offset-3 is-6 section fast-animation">
        <ul>
          <transition-group name="fadeDown">
            <node-component
              v-for="n in pastNodes"
              v-bind:name="n.shortened"
              v-bind:id="n.id"
              :key="n.id"
              v-on:navigateBack="updateList($event)"
            class="fast-animation"
            />
          </transition-group>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
  import Data from './data/data';
  import MessageComponent from './components/MessageComponent.vue';
  import ButtonComponent from './components/ButtonComponent.vue';
  import NodeComponent from './components/NodeComponent.vue';

  export default {
    components: {
      MessageComponent,
      ButtonComponent,
      NodeComponent
    },
    data: () => {
      return {
        node: Data[0],
        pastNodes: [],
        animate: false
      }
    },
    methods: {
      updateNode(id) {
        this.pastNodes.push(this.node);
        this.node = Data.find(d => d.id == id);
        this.animate = !this.animate; // trigger animation
      },
      updateList(id) {
        const lastNode = this.pastNodes.find(n => n.id == id);
        const key = this.pastNodes.indexOf(lastNode);
        this.pastNodes = this.pastNodes.slice(0, key);
        this.node = Data.find(d => d.id == id);
        this.animate = !this.animate; //trigger animation
      }
    }
  };
</script>

<style>
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .questions {
    min-height: 140px;
  }

  .fast-animation {
    animation-duration: .6s;
  }
</style>